#background {
    width: 100%;
}

#main-char {
    width: 500px;
    height: 575px;
    border: 1px solid aqua;
    position: absolute;
    left: 100px;
    top: 200px;
    color: white;
}

#opponet {
    width: 500px;
    height: 575px;
    border: 1px solid lightcoral;
    position: absolute;
    left: 900px;
    top: 200px; 
    color: crimson; 
    
}

#game-display {
    display: flex;
    flex-direction: column; 
    width: 1500px;
    height: 600px; 
    
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2a3e2c;
}

#hero-stats, #creature-stats {
    border: 1px solid red; 
}

#knight{
    width: 350px;

}

#snake {
    height: 450px;
}