#background {
    width: 100%;
}

#main-char {
    width: 500px;
    height: 575px;
    /* border: 1px solid aqua; */
    position: absolute;
    left: 100px;
    top: 200px;
    color: white;
}

#enemy {
    width: 500px;
    height: 575px;
    /* border: 1px solid lightcoral; */
    position: absolute;
    left: 900px;
    top: 200px; 
    color: crimson; 
    
}

#game-display {
    display: flex;
    flex-direction: column; 
    width: 1500px;
    height: 600px; 
    
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2a3e2c;
}

.btn {
    margin: 5px;
    padding: 5px 10px;
    /* background-color: #2a7864; */
}

#hero-stats, #enemy-stats {
    /* border: 1px solid red;  */
}

#knight{
    width: 350px;

}

#enemy-img {
    height: 450px;
}